:root{
    --main-color: #fff;
    --bordeaux : #9e121b;
    --gris : #f3f3f3;
    --gris-trans : rgba(243, 243, 243, 0.5);
    --bordeaux-trans : rgba(158, 18, 27, 0.5);
}
main{
    min-height: 70vh;
}

main{
    min-height: 70vh;
}
.navbar{
    background-color: var(--gris);
}
.nav-link{
    color: var(--bordeaux);
}
.card-header{
    background-color: var(--bordeaux) !important;
    color: var(--gris) !important;
}
.btn-primary{
    background-color: var(--bordeaux) !important;
    color: var(--gris) !important;
    border-color: var(--bordeaux) !important;
}
.wineShow{
    background-color: var(--gris-trans);
    width: 75vw;
    margin: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.adminSection{
    background-color: var(--gris);
}
#body404{
    background-color: var(--gris);
    background-image: url("../../assets/img/wine70.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#section404{
    background-color: var(--gris-trans);
    width: 75vw;
    margin: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.showSubtitle{
    font-size: 1.25rem;
    color: var(--bordeaux);
}

footer{
    background-color: var(--bordeaux) !important;
    border-top: 2px solid black;
    padding: 10px;
}
#footerNav{
    background-color: var(--bordeaux) !important;
}
#footerNav a{
    color: var(--gris);
}
#footerNav ul{
    line-height: 0.75rem;
}
#footerNav h3{
    font-size: 1.2rem;
    font-weight: bold;
}
.asideimg{
    width: 20vw;
    height: auto;
}
.card-img-top{
    width: auto;
    max-height: 150vh;
}

.bdx{
    color: var(--bordeaux);
}
.gray{
    color: var(--gris);
}
.carousem-item{
    height: 70vh;
}