:root{
    --main-color: #fff;
    --bordeaux : #9e121b;
    --gris : #f3f3f3;
}

.navbar{
    background-color: var(--gris);
}
.nav-link{
    color: var(--bordeaux);
}
.card-header{
    background-color: var(--bordeaux) !important;
    color: var(--gris) !important;
}
.btn-primary{
    background-color: var(--bordeaux) !important;
    color: var(--gris) !important;
    border-color: var(--bordeaux) !important;
}
#main-body{
    background-image: url("../../assets/img/wine.png");
    background-repeat: no-repeat;
}